$main-color: #26110C;
$back-color: #BC9E8B;
$border-color: #D0C1A9;
$secondary-color: #563B2C;
$filter-input: #BD997D;
$hover-color: #261E18;
$warn-color: #ff0e11;
* {
  box-sizing: border-box;

}

html, body {
  min-height: 100vh;
}

body {
  position: relative;
  font-family: "Fira Sans", "Helvetica Neue", sans-serif;
  text-decoration-color: $main-color;
  margin: 0;

  img {
    max-width: 100%;
    display: block;
  }
}
main {
  min-height: 100vh;
  background: rgb(188, 158, 139);
  background: linear-gradient(rgba(188, 158, 139, 1) 70%, rgba(49, 36, 28, 1));
}

#container {
  padding-bottom: 50px;
  margin: 0 auto;
}

.container {
  background: $main-color;
  border-radius: 10px;
  color: $border-color;
  padding: 50px 20px;
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;

}
.btn {

  display: inline-block;
  padding: 0.5em 1em;
  border: 1px $border-color solid;
  border-radius: 5px;
  margin: 0.3em;

  &:hover {
    background: $filter-input;
    color: $hover-color;
  }
}

#param, #sortOrder, option.sort {
  display: inline;
  margin-bottom: 0.5rem;
  height: 35px;
  width: 200px;
  background: $filter-input!important;
  color: $hover-color!important;

  &:hover {
    background: $main-color!important;
    color: $filter-input!important;

  }
}

.btn-back {
  margin-right: 15px !important;
}

.form-submit, .current-price {
  margin-left: auto;
  padding: 8px 16px;
  border: none;
  background: $secondary-color;
  color: $border-color;
  text-transform: uppercase;
  letter-spacing: .09em;
  border-radius: 3px;

  &:hover {
    background: $border-color;
    color: $secondary-color;
  }
}

.margin {
  margin-top: 20px;
  margin-bottom: 20px;
}

header {
  text-align: center;
  background: rgb(171, 134, 110);
  background: linear-gradient(rgba(171, 134, 110, 1) 30%, rgba(188, 158, 139, 1));

  .logout {
    margin: 20px;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1;

    button {
      float: left;
      clear: both;
    }
  }

  .header-panel {
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: flex-end;
    align-items: flex-start;

    div {
      margin: 0.5em;
      padding: 0.5em;
    }
  }

  h1, h2, h3 {
    text-decoration-color: $main-color;
    font-size: 3.5em;
    font-weight: 400;
    word-spacing: 0.08em;
    display: inline-block;
    text-align: center;
  }

  h2 {
    font-size: 2.5em;
    font-weight: 300;
  }

  h3 {
    font-size: 1.5em;
    font-weight: 200;
  }

}




.form-main {
  max-width: 800px;
  margin: 0 auto;
  padding: 0;

  .form-div {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: space-between;
    margin-top: 20px;

    label, h3, div, textarea, input.input {
      padding: 8px;
      font-weight: 300;
      letter-spacing: .09em;
      text-transform: uppercase;
      flex: 1 0 220px;
      max-width: 450px;
    }

    label, div + * {
      flex: 1 0 220px;
    }

  }

}


#currentPrice {
  color: $main-color !important;
}

#main-grid {

  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));


  .item {
    position: relative;
    border: 3px $border-color solid;
    border-radius: 6px;

    &:hover {
      opacity: 0.5;
      border-color: $secondary-color;
    }

    width: 100%;

  }
}

#admin-access {

  width: 150px;
margin-top: 20px;

  a {
    display: block;
    float: left;
    clear: both;
  }
}

div.form-div.history {
  align-items: start;
  border: 1px $border-color solid;
  border-radius: 5px;
  justify-content: space-between;
  padding-right: 20px;

  div {
    padding-top: 0;
    padding-bottom: 0;
    text-align: end;
  }
}

a {
  text-decoration: none;
  text-decoration-color: $border-color;

  &:hover {
    text-decoration-color: $hover-color;
  }

}

a.fas {
  position: relative;

  span {
    position: absolute;
    right: 5px;

  }
}

#i-left {
  right: 20px;
}

.pagination {
  a {
    color: $main-color;
    font-weight: bold;
    &:hover {
      color: $filter-input;
    }

  }
  a.active {
    color: darken($filter-input, 20%);
  }
  div {
    display: inline-block;
  }
}

footer {
  width: 100%;
  text-align: center;
  vertical-align: top;
  background: rgb(49, 36, 28);
  background: linear-gradient(rgba(49, 36, 28, 0) 30%, rgba(38, 17, 12, 1));
  height: 40px;
  position: fixed;
  bottom: 0;
}

.error-msg {
  color: $warn-color !important;
}

