* {
  box-sizing: border-box; }

body {
  height: 100%;
  font-family: Arial, Geneva, Verdana, sans-serif;
  text-decoration-color: #4b4b4b;
  margin: 0; }

header {
  text-align: center;
  background-color: #2f8562; }
  header .logout {
    position: absolute; }
  header .header-panel {
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: flex-end;
    align-items: flex-start; }
    header .header-panel div {
      margin: 0.5em;
      padding: 0.5em; }
  header h1, header h2 {
    text-decoration-color: #4b4b4b;
    font-size: 48px;
    font-weight: 400;
    word-spacing: 0.08em;
    display: inline-block;
    text-align: center; }

.btn-input {
  display: inline;
  padding: 0.5rem 1rem;
  margin-bottom: 0.5rem;
  height: 35px;
  border: 1px #fefefe solid; }
  .btn-input:hover {
    background: #8dff71;
    color: #00008b; }

main {
  height: auto;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  background-color: #3ba77b; }
  main .item {
    border: 3px #fefefe solid;
    width: 100%; }
    main .item:hover {
      opacity: 0.5;
      border-color: #ff8828; }

a {
  text-decoration: none !important;
  text-decoration-color: #fefefe; }
  a:hover {
    text-decoration-color: #00008b; }

.btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  border: 1px #fefefe solid;
  margin-bottom: 0.3rem; }
  .btn:hover {
    background: #ff8828;
    color: #00008b; }

.pagination > div {
  display: inline-block; }

footer {
  min-height: calc(100vh - 40px);
  text-align: center;
  vertical-align: top;
  background-color: #343434; }

.error-msg {
  text-decoration-color: #ff0e11 !important; }
