<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Item add-edit form</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="/js/main.js"></script>
    <link href="/css/main.css" rel="stylesheet"/>
    <script src="https://use.fontawesome.com/1a22ca464c.js"></script>
    <script src="https://kit.fontawesome.com/c511db0bb6.js" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function () {
            $(".flatpickr").flatpickr({
                enableTime: true,
                wrap: true
            });
        });
    </script>
</head>
<body>
<main>
    <header>
        <h3>Auction item form</h3>
    </header>

    <div class="container">

        <form class="form-main" action="#" enctype="multipart/form-data" onsubmit="return formValidation()"
              th:action="@{/item/addEdit/{id}(id=${item.id})}" th:object="${item}"
              method="post">
            <div class="form-div">
                <label for="name">Name</label>
                <input class="input" type="text" th:field="*{name}" id="name"
                       placeholder=" Enter antique item name here ">
                <!--                <span style="color: #009000;">-->
                <!--                <i class="fas fa-check-circle"></i>-->
                <!--                </span>-->
                <!--                <span style="color: #b30000;">-->
                <!--                <i class="fas fa-exclamation-circle"></i>-->
                <!--                   </span>-->

                <small></small>
                <span class="form-add" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>

            </div>
            <div class="form-div">
                <label for="description">Description</label>
                <textarea rows="6" th:field="*{description}" id="description"
                          placeholder=" Enter item description here ">
                </textarea>

                <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span>
                <!--                <span style="color: #009000;">-->
                <!--                <i class="fas fa-check-circle"></i>-->
                <!--                </span>-->
                <!--                <span style="color: #b30000;">-->
                <!--                <i class="fas fa-exclamation-circle"></i>-->
                <!--                     </span>-->
                <small></small>

            </div>
            <div class="flatpickr form-div">
                <label for="dateTimePicker">Close date</label>
                <input class="input" type="text" th:field="*{dateString}" id="dateTimePicker"
                       placeholder=" Pick a date and time here " data-input>
                <a class="button fas" title="Select" data-toggle>
                         <span id="i-left" style="color: #009000;">
                <i class="fas fa-check-circle" style="font-size: large"></i></span></a>
                <a class="input-button fas" title="clear" data-clear>
                        <span style="color: #b30000; font-size: large">
                <i class="fas fa-close"></i></span></a></div>
            <div>
                <img th:src="@{/items/images/{id}(id=${item.id})}" alt="Image alternate text"
                     style="height:100px;width:100px">
                <div>
                    <table>
                        <tr>
                            <td>File to upload:</td>
                            <td><input type="file" name="file"/></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="form-div">
                <input class="form-submit" type="submit" value="Save">
            </div>
        </form>
        <div class="form-main">
            <div class="form-div">
                <button class="form-submit" onclick="window.location.href='/home';">Back</button>
            </div>
        </div>

    </div>
</main>

<footer>
</footer>
</body>
</html>
