<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Auction mail</title>
    <link href="/css/main.css" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <div class="form-main">

        <h4>Congratulations!</h4>
        <p>You have won an item <span th:text="${itemName}"></span></p>
        <p>$<span th:text="${bid}"></span> was the winning bid.</p>
        <p>You got a great deal!</p>

        <div class="bill-div">
            <div>Date: <span th:text="${bidDate}"></span></div>
            <div>Product name: <span th:text="${itemName}"></span></div>
            <div>Price: <span>$<span th:text="${bid}"></span></span></div>
            <button id="payButton" class="form-submit">Pay</button>
        </div>
        <p>Thank you.</p>
    </div>
</div>

</body>
</html>
