<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Auction mail</title>
    <link href="/css/main.css" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <div class="form-main">
        <h3>Auction is finished!</h3>

        <p>You have lost an item <span th:text="${itemName}"></span></p>
        <p>Winning bid was: $<span th:text="${bid}"></span></p>
        <p>Thank you.</p>
    </div>
</div>

</body>
</html>

