<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Home page</title>

<!--    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"-->
<!--          rel="stylesheet"-->
<!--          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"-->
<!--          crossorigin="anonymous">-->

    <link href="/css/main.css" rel="stylesheet" />
</head>
<body>
<header>
<h1>Antique auction</h1>
<div class="filter-search">
        <form action="#" th:action="@{/items}" method="get">
            <input class="btn-input" type="text" name="param" id="param" placeholder="Param">
            <input class="btn-input" type="submit" value="Search">
        </form>
</div>

<div class="filter-sort">
        <form action="#" th:action="@{/items}" method="get">
            <select class="btn-input" id="sortOrder" name="sortOrder">
                <option value="default">Default</option>
                <option value="asc">Sort by Price ascending</option>
                <option value="desc">Sort by Price descending</option>
            </select>
            <input class="btn-input" type="submit" value="Sort">
        </form>
</div>

<div class="admin-access">
        <button class="btn-input" sec:authorize="hasRole('ADMIN')" onclick="window.location.href='/goToAddEDitItem';">Add Item</button>
        <button class="btn-input" sec:authorize="hasRole('ADMIN')" onclick="window.location.href='/goToUploadImage';">Go to upload image</button>
        <button class="btn-input" onclick="window.location.href='/logout';">Logout</button>
</div>

</header>

<main>

<div th:each="item: ${itemPage.content}">
        <div class="item">
    <div th:text="${item.id}"></div>
    <div th:text="${item.name}"></div>
    <div th:text="${item.currentPrice}"></div>
    <div id="bidDate" th:text="${item.bidDate}"></div>
    <div th:text="${item.description}"></div>
    <a class="btn" sec:authorize="hasRole('USER')" th:href="@{/goToItemsDetail/{id}(id=${item.id})}">Bid Now</a>
    <a class="btn" sec:authorize="hasRole('ADMIN')" th:href="@{/goToItemsDetail/{id}(id=${item.id})}">Item Details</a>
    <a class="btn" sec:authorize="hasRole('ADMIN')" th:href="@{/goToAddEDitItem/{id}(id=${item.id})}">Edit</a>
    <a class="btn" sec:authorize="hasRole('ADMIN')" th:method="delete" th:href="@{/delete/{id}(id=${item.id})}">Delete</a>
    </div>
</div>
</main>

<footer>

<div class="pagination">

        <div class="pagination-control left-arrow"> << </div>
<div class="number-button" th:if="${itemPage.totalPages > 0}"
     th:each="pageNumber : ${pageNumbers}">
    <a th:href="@{/items(size=${itemPage.size}, page=${pageNumber})}"
       th:text=${pageNumber}
       th:class="${pageNumber==itemPage.number + 1} ? active"></a>
</div>
        <div class="pagination-control right-arrow"> >> </div>
    <div class="number-button" th:text="${itemPage.totalPages}"></div>
</div>
</footer>




<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>

<script src="app.js"></script>

<script src="items.js"></script>
</body>
</html>
