<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Home page</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="/css/main.css" rel="stylesheet"/>
    <script src="/js/main.js"></script>
</head>
<body>
<main>
    <header>
        <h1>Antique auction</h1>
        <div class="logout">
            <div th:text="${#authentication.getPrincipal().getUsername()}"></div>
            <button class="btn form-submit" onclick="window.location.href='/logout';">Logout</button>
            <button class="btn form-submit" sec:authorize="hasRole('ADMIN')"
                    onclick="window.location.href='/item/add/go';">Add Item
            </button>
        </div>
        <div class="header-panel">
            <div class="filter-search">
                <form action="#" th:action="@{/items}" method="get">
                    <input class="btn btn-input" type="text" name="searchParam" id="param" th:value="${searchParam}">
                    <input class="form-submit" type="submit" value="Search">
                </form>
            </div>

            <div class="filter-sort">
                <form action="#" th:action="@{/items}" method="get">
                    <select class="btn btn-input" id="sortOrder" name="sortOrder">
                        <option th:selected="${sortOrder} == 'default'" value="default">Default</option>
                        <option th:selected="${sortOrder} == 'ASC'" value="ASC">Sort by Price ascending</option>
                        <option th:selected="${sortOrder} == 'DESC'" value="DESC">Sort by Price descending</option>
                    </select>
                    <input class="form-submit" type="submit" value="Sort">
                </form>
            </div>
        </div>
    </header>


    <div id="container">
        <div id="main-grid">
            <div th:each="item: ${itemPage.content}">
                <div class="item">
                    <div><img th:src="@{/items/images/{id}(id=${item.id})}" alt="No image"
                              style="height:200px;width:200px"></div>
                    <div th:text="${item.name}"></div>
                    <div th:text="${item.currentPrice}"></div>
                    <div id="dateString" th:text="${item.dateString}"></div>
                    <a class="form-submit" sec:authorize="hasRole('USER')"
                       th:href="@{/item/details/{id}(id=${item.id})}">Bid
                        Now</a>
                    <div id="admin-access" sec:authorize="hasRole('ADMIN')">
                        <a class="form-submit" th:href="@{/item/details/{id}(id=${item.id})}">Item
                            Details</a>
                        <a class="form-submit" th:href="@{/item/edit/view/{id}(id=${item.id})}">Edit</a>
                        <a class="form-submit" th:method="Delete"
                           th:href="@{/item/delete/{id}(id=${item.id})}">Delete</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<footer>

    <div class="pagination">

        <div class="pagination-control left-arrow"><a
                th:href="@{/items(size=${itemPage.size}, page=1, sortOrder=${sortOrder}, searchParam=${searchParam})}"
        ><<</a></div>
        <div class="number-button" th:if="${itemPage.totalPages > 0}"
             th:each="pageNumber : ${pageNumbers}">
            <a th:href="@{/items(size=${itemPage.size}, page=${pageNumber}, sortOrder=${sortOrder}, searchParam=${searchParam})}"
               th:text=${pageNumber}
               th:class="${pageNumber==itemPage.number + 1} ? active"></a>
        </div>
        <div class="pagination-control right-arrow"><a
                th:href="@{/items(size=${itemPage.size}, page=${itemPage.totalPages}, sortOrder=${sortOrder}, searchParam=${searchParam})}"
        >>></a></div>
    </div>
</footer>

</body>
</html>
