<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Item Details</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
    <link href="/css/main.css" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/js/item-details.js}"></script>
    <script th:inline="javascript">
        let dateStringValue = [[${item.dateString}]];
    </script>
</head>

<body>
<main>
<header>
<h2 th:text="${item.name}"></h2>
</header>

    <div class="container form">
<!--countdown timer-->
<div>
    <h3>Auction time:</h3>
    <div id="countDownTimer"></div>
</div>

<!--bidding history-->
<div class="history">
    <h3>Bidding history:</h3>
<div th:each="itemPrice: ${item.itemPrices}">
    <div th:text="${itemPrice.priceValue}"></div>
</div>
</div>
<!--making bid form-->
<div>
    <h3>Make a bid:</h3>
    <div class="error-msg" th:if="${wrongBid == 'true'}">Please, bid above the current price!</div>
    <div>Current price is:</div>

<form action="#" th:action="@{/item/bid/add/{id}(id=${item.id})}" th:object="${item}" method="post">
    <input type="text" th:field="*{currentPrice}" id="currentPrice" >
    <span th:if="${#fields.hasErrors('currentPrice')}" th:errors="*{currentPrice}"></span>
    <input sec:authorize="hasRole('USER')" class="btn btn-input" type="submit" value="Submit">
</form>
</div>

<div>
    <button class="btn btn-input" onclick="window.location.href='/home';">Back</button>
</div>
    </div>
</main>
<footer></footer>
</body>
</html>
