<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Получение товаров</title>

    <!-- bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">

    <!-- main CSS -->
    <link href="../static/css/main.css" rel="stylesheet" />

    <script th:inline="javascript">
        // Set the date we're counting down to
        var bidDateValue = [[${item.bidDate}]];
        var countDownDate = new Date(bidDateValue.toString()).getTime();
        // var countDownDate = new Date("Jan 5, 2021 15:37:25").getTime();
        // Update the count down every 1 second
        var x = setInterval(function() {

            // Get today's date and time
            var now = new Date().getTime();

            // Find the distance between now and the count down date
            var distance = countDownDate - now;

            // Time calculations for days, hours, minutes and seconds
            var days = Math.floor(distance / (1000 * 60 * 60 * 24));
            var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((distance % (1000 * 60)) / 1000);

            // Output the result in an element with id="demo"
            document.getElementById("countDownTimer").innerHTML = days + "d " + hours + "h "
                + minutes + "m " + seconds + "s ";

            // If the count down is over, write some text
            if (distance < 0) {
                clearInterval(x);
                document.getElementById("countDownTimer").innerHTML = "EXPIRED";
            }
        }, 1000);
    </script>
</head>
<body>

<!-- здесь будет выводиться наше приложение -->
<div id="app"></div>
<p th:text="${item.name}">Test</p>
<!--<p th:text="${item.itemPrices}">Test</p>-->
<div th:each="itemPrice: ${item.itemPrices}">
<!--<div th:text="${itemPrice.priceValue}"></div>-->

<!--<div th:text="${wrongBid}"> The TEst </div>-->
<div th:text="${itemPrice.priceValue}">
</div>
</div>

<div class="ui-state-error" th:if="${wrongBid == 'true'}"> The error </div>

<div id="countDownTimer"></div>

<form action="#" th:action="@{/bid/add/{id}(id=${item.id})}" th:object="${item}" method="post">
    <label for="currentPrice">Bid Price</label>
    <input type="text" th:field="*{currentPrice}" id="currentPrice" placeholder="Price">
    <span th:if="${#fields.hasErrors('currentPrice')}" th:errors="*{currentPrice}"></span>
<!--    <label for="email">Email</label>-->
<!--    <input type="text" th:field="*{email}" id="email" placeholder="Email">-->
<!--    <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>-->
    <input type="submit" value="Add Bid">
</form>

<button onclick="window.location.href='/home';">Cancel</button>
<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- bootstrap JavaScript -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<!-- для всплывающих окон -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>

<!-- основной файл скриптов -->
<script src="app.js"></script>

<!-- products scripts -->
<script src="items.js"></script>
<!--<script src="app/products/create-product.js"></script>-->
<!--<script src="app/products/read-one-product.js"></script>-->
<!--<script src="app/products/update-product.js"></script>-->
<!--<script src="app/products/delete-product.js"></script>-->
</body>
</html>
