<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Item Details</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="/css/main.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@562;700&display=swap" rel="stylesheet">
    <script th:src="@{/js/item-details.js}"></script>
    <script th:inline="javascript">
        let dateStringValue = [[${item.dateString}]];
        let itemId = [[${item.id}]];
        let currentPrice = [[${item.currentPrice}]];
    </script>
</head>

<body>
<main>
    <header>
        <h2 id="itemName" th:text="${item.name}"></h2>
    </header>

    <div class="container">
        <div class="form-main">

            <div class="form-div">
                <small><img th:src="@{/items/images/{id}(id=${item.id})}" alt="No image"
                            style="height:100px;width:100px"></small>
                <div id="description-field" th:block th:utext="${item.description}"></div>
            </div>

            <div class="form-div">
                <h3>Auction time:</h3>
                <h3 id="countDownTimer"></h3>
            </div>

            <div class="form-div history">
                <h3>Bidding history:</h3>
                <div><details>
                    <summary>Open</summary>
                <div class="margin bidHistory">
                    <div th:each="bid: ${item.bids}">
                        <div th:text="${bid.priceValue}"></div>
                    </div>
                </div>
                </details>
                </div>
            </div>

            <div class="form-div" id="bidSection">

                <div sec:authorize="hasRole('USER')">
                    <span>Make a bid:</span>
                    <div class="error-msg" th:if="${wrongBid == 'true'}">Please, bid above the current price!</div>
                    <form action="#" th:action="@{/item/bid/add/{id}(id=${item.id})}" th:object="${item}" method="post">
                        <input type="number" th:field="*{currentPrice}" th:min="*{currentPrice}" id="currentPrice">
                        <input type="submit" class="form-submit" value="Submit">
                    </form>
                </div>

                <div>
                    <span>Current price is:</span>
                    <div id="showCurrentPrice"></div>
                </div>
            </div>

            <!--        <div id="cand">old value</div>-->

            <div class="form-div btn-back">
            <button class="form-submit" onclick="window.location.href='/home';">Back</button>
            </div>

        </div>
    </div>
</main>
<footer>
</footer>
</body>
</html>
