<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Auction login</title>
    <link href="/css/main.css" rel="stylesheet"/>
</head>
<body>
<main>
    <header>
        <h3>Please sign in</h3>
    </header>
    <div class="container">
        <form class="form-main" method="post" action="/login">

            <div class="form-div">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" class="form-control" placeholder="Username" required
                       autofocus>
            </div>
            <div class="form-div">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" class="form-control" placeholder="Password"
                       required>
            </div>
            <div class="form-div">
                <button class="form-submit" type="submit">Sign in</button>
            </div>
        </form>
    </div>
</main>
</body>
</html>
