<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Auction mail</title>
    <link href="/css/main.css" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <div class="form-main">
        <h3>There is a new bid!</h3>

        <p>Item name: <span th:text="${itemName}"></span></p>
        <p>New price: $<span th:text="${bid}"></span></p>
        <p>You can go to <a href="#">Antique auction</a> and increase your bid!</p>
        <p>Thank you.</p>
    </div>
</div>

</body>
</html>
