<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>Registration</title>
    <link href="/css/main.css" rel="stylesheet"/>
</head>
<body>
<main>
    <header>
        <h2>Please, fill out the form:</h2>
    </header>
    <div class="container">
        <form class="form-main" action="#" enctype="multipart/form-data"
              th:action="@{/registration}" th:object="${user}" method="post">
            <div class="form-div">
                <label for="firstName">Enter first name:</label>
                <input class="input" type="text" th:field="*{firstName}" id="firstName" name="firstName" placeholder="FirstName" required
                       autofocus>
            </div>
            <div class="form-div">
                <label for="lastName">Enter last name:</label>
                <input class="input" type="text" id="lastName" th:field="*{lastName}" name="lastName" placeholder="LastName" required
                       autofocus>
            </div>
            <div class="form-div">
                <label for="login">Enter your login:</label>
                <input class="input" type="text" id="login" th:field="*{login}" name="login" placeholder="Login" required
                       autofocus>
            </div>
            <div class="form-div">
                <label for="password">Create a password:</label>
                <input class="input" type="password" id="password" name="password" placeholder="Password"
                       required>
            </div>
            <div class="form-div">
                <label for="email">Enter your email:</label>
                <div class="error-msg" th:if="${registerError}">There is an account with that email already exists!</div>
                <input class="input" type="email" id="email" th:field="*{email}" name="email" placeholder="Email"
                       required>
            </div>
            <div class="form-div">

                <button class="form-submit" type="submit">Registration</button>
            </div>
            <div class="form-div">
                <button class="form-submit" onclick="window.location.href='/logout';">Back</button>
            </div>
        </form>
    </div>
</main>
</body>
</html>
