<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Profile</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="/css/main.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@562;700&display=swap" rel="stylesheet">
    <script src="/js/user-profile.js"></script>
    <script th:inline="javascript">
        let login = [[${user.login}]];
    </script>
</head>
<body>
<main>
    <header>
        <h2>Your profile</h2>
    </header>
    <div class="container">
        <div class="form-main">
            <h2>List of your bids:</h2>
            <div class="form-div">
                <div>Bid</div>
                <div>Current state
                (LOST - means someone make the highest bid, IN_PROGRESS - your bid is the highest on this item, WON - you won this item)
                </div>
            </div>
            <div id="bidItemsList"></div>

            <h2>Awarded Items:</h2>
            <div class="form-div">
                <div>Item</div>
                <div>Bill</div>
            </div>
            <div id="awardedItemsList"></div>

            <div class="form-div">
                <button class="form-submit" onclick="window.location.href='/home';">Back</button>
            </div>
        </div>
    </div>
</main>
<footer>
</footer>
</body>
</html>
